@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: proBook;
  src: url("../../public/circular-book/lineto-circular-pro-book.ttf");
}
@font-face {
  font-family: proBookBold;
  src: url("../../public/circular-book/lineto-circular-pro-bold.ttf");
}
@font-face {
  font-family: proBookMedium;
  src: url("../../public/circular-book/lineto-circular-pro-medium.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #404040;
}